@font-face{
    font-family: OpenSans;
    src: url('../../fonts/OpenSans-Regular.ttf');
}

.annualBody
{
	background-color: #89b6d9;
    margin: 0 auto;
    min-width: 264px;
    font-family: OpenSans;
}

.accountInfo {
    height: 100px;
    padding-left: 20px;
    padding-right: 20px;
    background-color: white;
    overflow: hidden;
    border-bottom: 5px solid #d4d4d4;
    padding-top: 9px;
    max-width: 660px;
    margin: 0 auto;
    margin-bottom: 5px;
}
.accountInfo .title_icon {
    position: absolute;
    top: 0px;
}

.accountInfo .containers {
    position: relative;
    margin-bottom: 12px;
}

.accountInfo .label{
    right: 0;
    color: #a0a0a0;
    font-family: 'Lato', sans-serif;
    font-size: 12px;
    top: -12px;
    opacity: 1;
    pointer-events: none;
    position: absolute;
}

.accountInfo .input {
    border: 0;
    text-align: right;
    margin-top: 20px;
    display: block;
    height: auto;
    background: none;
    text-decoration: none;
    width: 100%;
    font-family: 'Lato', sans-serif;
    font-size: 15px;
    color: black;
}


.annualbenefitsDivContainer
{
	padding-top: 5px;
	margin: 0 auto;
    width: 100%;
	max-width:700px;
	text-align: center;
}

.benefitsContainersOutsideDiv
{
	display:block;
	overflow: hidden;
}

.benefitsContainers
{
	height: 150px;
    width: 150px;
    background-color: white;
	font-family: Helvetica;
	border: solid #89b6d9;
    
    
}
.infoCont {
    display: flex;
    height: 100px;
    padding-left: 20px;
    padding-right: 20px;
    background-color: #a4c7e1;
    overflow: hidden;
    max-width: 660px;
    margin: 0 auto;
    margin-bottom: 5px;
    align-items: center;
    justify-content: space-between;
}
.benefitsContainers.left{
	float:left;
}

.benefitsContainers.right{
	float:right;
}

.annualTitles
{
	color: #f8f8f8;
	font-size: 20px;
    align-self: center;
}

.annualNumber
{
	font-size: 70px;
    color: #f8f8f8;;
    align-self: center;
    font-weight: 100;
}

.requestleavebuttonContainer
{
	overflow: hidden;
    margin-top: 15px;
    margin-bottom: 15px;    
}

.requestleavebutton
{
    background-color: #5d9ac9;
    margin-left: 24px;
    margin-top: 40px;
    margin-bottom: 40px;
    color: white;
    font-weight: bold;
    border-radius: 25px;
    border: 2px solid white;
    cursor: pointer;
    display: block;
    margin: auto;
    width: 200px;
    padding-top: 13px;
    padding-bottom: 13px;
    font-family: sans-serif;
    font-size: 13px;
}
.requestleavebutton:hover,
.requestleavebutton:focus
{
    background-color: #7ebdee;
}
.requestleavebutton:active
{
    background-color: #7ebdee;
}

@media screen and (max-width: 425px)
{
.accountInfo .title_icon {
    display: none;
}
}

table, th, td {
   border: 1px solid #5d9ac9;
   border-collapse: collapse;   

}

th {
	background-color: #5d9ac9;
	color: white;
	padding-top: 5px;
	padding-bottom: 5px;
    padding-left: 5px;
    padding-right: 5px;  
}

td {
	color: grey;
	background-color: white;
	padding-top: 5px;
	padding-bottom: 5px;
}

table {
	width: 100%;
	margin-left: auto;
	margin-right: auto;
	font-family: Helvetica;
    margin-bottom: 50px;
    max-width: 700px;
    text-align: center;
}
    
td.holereqtd
{
    width:50px;        
}
    
td.holreqempidid
{
    width: 150px;
}
    
td.datediff
{
    display: none;
}

th.btnth
{
    display: none;
}
    
td.deletebtn {
	background-color: #89b6d9;
    border-color: #89b6d9;
    width: 80px;
    padding-left: 10px;
}

.tablesaw *
{
    text-align: center !important;
}

/*
.tablesaw-columntoggle-btnwrap {
    display: none ! important;
}
*/
    
.buttondelete
{
    background-color: #5d9ac9;
    color: white;
    font-weight: bold;
    border-radius: 25px;
    border: 2px solid white;
    cursor: pointer;
    display: block;
    margin: auto;
    padding-top: 13px;
    padding-bottom: 13px;
    font-family: sans-serif;
    font-size: 13px;
}
.buttondelete:hover,
.buttondelete:focus
{
    background-color: #7ebdee;
}
.buttondelete:active
{
    background-color: #7ebdee;
}

