.annualBody
{
	background-color: #89b6d9;
    margin: 0 auto;
    min-width: 264px;
    max-width: 700px;
}

.accountInfo {
    height: 100px;
    padding-left: 20px;
    padding-right: 20px;
    background-color: white;
    overflow: hidden;
    border-bottom: 5px solid #d4d4d4;
    padding-top: 9px;
    max-width: 660px;
    margin: 0 auto;
    margin-bottom: 5px;
}
.accountInfo .title_icon {
    position: absolute;
    top: 0px;
}

.accountInfo .containers {
    position: relative;
    margin-bottom: 12px;
}

.accountInfo .label{
    right: 0;
    color: #a0a0a0;
    font-family: 'Lato', sans-serif;
    font-size: 12px;
    top: -12px;
    opacity: 1;
    pointer-events: none;
    position: absolute;
}

.accountInfo .input {
    border: 0;
    text-align: right;
    margin-top: 20px;
    display: block;
    height: auto;
    background: none;
    text-decoration: none;
    width: 100%;
    font-family: 'Lato', sans-serif;
    font-size: 15px;
    color: black;
}


.annualbenefitsDivContainer
{
	margin: 0 auto;
	max-width:800px;
	text-align: center;
}

.benefitsContainersOutsideDiv
{
	display:block;
	overflow: hidden;
}

.benefitsContainers
{
	height: 250px;
    width: 250px;
    background-color: white;
	font-family: Helvetica;
	border: solid #89b6d9;
    
    
}

.benefitsContainers.left{
	float:left;
}

.benefitsContainers.right{
	float:right;
}

.annualTitles
{
	background-color: #5d9ac9;
	padding-top: 10px;
    padding-bottom: 10px;
	color: white;
    font-weight: bold;
	font-size: 16px;
}

.annualNumber
{
	font-size: 130px;
    color: #aeb4ba;
	line-height: 211px;
}

.requestleavebuttonContainer
{
	overflow: hidden;
}

.requestleavebutton
{
    height: 35px;
    background-color: #5d9ac9;
    margin-left: 24px;
    margin-top: 40px;
    margin-bottom: 40px;
    color: white;
    font-weight: bold;
    border-radius: 25px;
    border: 2px solid grey;
    cursor: pointer;
    font-size: 12px;
    display: block;
	float: left;
    width: 200px;
}
.requestleavebutton:hover,
.requestleavebutton:focus
{
    background-color: rgba(0,100,170,0.3);
}
.requestleavebutton:active
{
    background-color: rgba(0,100,170,0.3);
}

@media screen and (max-width: 425px)
{
.accountInfo .title_icon {
    display: none;
}
}