body
{
    margin: 0 auto;
    background-color: #bfbfbf;
}

.holidayContent
{
    margin: 0 auto;
    min-width: 300px;
    max-width: 400px;
    overflow: hidden;
    background-color: white;
    min-height: 400px;
}

.accountInfo {
    height: 100px;
    padding-left: 20px;
    padding-right: 20px;
    background-color: white;
    overflow: hidden;
    border-bottom: 5px solid #d4d4d4;
    padding-top: 9px;
    max-width: 600px;
    margin: 0 auto;
    margin-bottom: 5px;
}
.accountInfo .leftContainer{
    float: left;
    text-align: left;
    width: 40%;
}

.accountInfo .rightContainer
{
    float: right;
    width: 60%;
}

.accountInfo .containers {
    position: relative;
    margin-bottom: 12px;
}

.accountInfo .label{
    right: 0;
    color: #a0a0a0;
    font-family: 'Lato', sans-serif;
    font-size: 12px;
    top: -12px;
    opacity: 1;
    pointer-events: none;
    position: absolute;
}

.accountInfo .input {
    border: 0;
    text-align: right;
    margin-top: 20px;
    display: block;
    height: auto;
    background: none;
    text-decoration: none;
    width: 100%;
    font-family: 'Lato', sans-serif;
    font-size: 15px;
    color: black;
}

.leftContainer .label
{
    left: 0;
}
.leftContainer .input
{
    text-align: left;
}

#click_overlay,
.PageLoadingNormal,
.timerStopNormal {
    display: none;
    position: fixed;
    height: 100%;
    width: 100%;
    z-index: -1;
}
#click_overlay {
    display: block;
}

#timerStopPageNormal {
    opacity: 0;
    transition: opacity 5s linear;
}
.timerStopQuestion {
    z-index: 99;
    display: block;
    opacity: 1;
    background-color: rgba(0, 0, 0, 0.46);
}
.popUpContainer {
    background-color: white;
    display: block;
    min-height: 180px;
    width: 100%;
    height: 0px;
    border-bottom: 5px solid #b5b5b5;
    margin: auto;
    text-align: center;
    font-weight: bold;
    margin-top: -100%;
    transition: 1s margin-top ease-out;
    overflow: hidden;
    font-size: 13.3px;
    font-family: 'Lato', sans-serif;
}
.popUpContainer.showPopUp {
    margin-top: 0;
}
.popUpContainer .questionLabel {
    margin: 0 auto;
    text-align: center;
    display: inline-block;
    margin-top: 20px;
    margin-bottom: 20px
}
.popUpContainer .answerContainer {
    transition: opacity 1s linear;
    overflow: hidden;
    opacity: 1;
    height: 150px;
}
.popUpContainer .answerContainer.remove {
    opacity: 0;
}
.popUpContainer .answerContainer .bigRoundButtons {
    height: 90px;
    width: 90px;
    border-radius: 90px;
    display: inline-block;
    margin: 0 20px 20px 20px;
    border: 3px solid #3476a2;
    transition: background-color 0.13s ease-in, background-image 0.13s ease-in;
    background-color: rgba(255, 255, 255, 0.18);
    background-position: center;
    background-repeat: no-repeat;
}
.popUpContainer .answerContainer .bigRoundButtons.yesConfirm {
    background-image: url("../../images/yesclear.png");
}
.popUpContainer .answerContainer .bigRoundButtons.noDeny {
    background-image: url("../../images/noclear.png");
}
.popUpContainer .answerContainer .bigRoundButtons.noDeny:hover,
.popUpContainer .answerContainer .bigRoundButtons.noDeny:focus {
    background-image: url("../../images/no.png");
}
.popUpContainer .answerContainer .bigRoundButtons.yesConfirm:hover,
.popUpContainer .answerContainer .bigRoundButtons.yesConfirm:focus {
    background-image: url("../../images/yes.png");
}
.popUpContainer .answerContainer .bigRoundButtons:hover,
.popUpContainer .answerContainer .bigRoundButtons:focus {
    background-color: #3d88bb;
}
.loadingStopTimer {
    display: block;
    border-radius: 90px;
    border: 3px solid #e4e4e4;
    border-top: 3px solid #3476a2;
    transition: opacity 1s linear, border-color 1s ease;
    margin: 0 auto;
    opacity: 0;
    height: 90px;
    width: 90px;
}
.PageLoadingAdd {
    z-index: 2;
    background-color: #0063b1;
    background: linear-gradient(45deg, #5aaae8, #4e85b1, #0063b1);
    left: 48px;
    display: block;
}
.PageLoadingNormal .loading {
    display: block;
    position: absolute;
    left: 50%;
    margin-left: -95px;
    top: 50%;
    margin-top: -70px;
}
.PageLoadingNormal .animationCircle {
    position: relative;
    top: 35%;
    margin: auto auto;
    border: 3px solid rgba(0, 0, 0, 0.08);
    border-radius: 50%;
    border-top: 3px solid rgba(255, 255, 255, 0.52);
    width: 120px;
    height: 120px;
}
.PageLoadingAdd .animationCircle {
    animation: spin 1.2s linear infinite;
}
#loadingStopTimer.animationCircle {
    opacity: 1;
    animation: spin 1.2s ease infinite;
}
#loadingStopTimer.SavingDone {
    opacity: 1;
    animation: none;
    border-color: #3476a2;
    background-color: #3d88bb;
    background-image: url(../../images/yes.png);
    background-position: center;
    background-repeat: no-repeat;
}

#loadingStopTimer.showMessage
{
    animation: none;
    border-radius: 0px;
    border-width: 0px;
    //border: 5px solid #3db13d;
    border-left: 0px;
    border-right: 0px;
    margin: 0 auto;
    background-color: rgba(69, 152, 69, 0.98);
    color: white;
    width: 100%;
    font-size: 20pt;
    box-sizing: border-box;
    padding: 32px 0px;
    opacity: 1;
}

#loadingStopTimer.showNotice
{
    animation: none;
    border-radius: 0px;
    border-width: 0px;
    border-left: 0px;
    border-right: 0px;
    margin: 0 auto;
    width: 100%;
    font-size: 17px;
    box-sizing: border-box;
    padding-top: 20px;
    color: black;
    user-select: all !important;
}

#loadingStopTimer.showNotice .textFit {
    font-size: xx-small;
    user-select: inherit !important;
}

.otherLinks
{
    padding: 4px;
    margin: 8px;
    display: inline-block;
    box-sizing: border-box;
    color: #868686;
}
.otherLinks:hover,
.otherLinks:focus
{
    color: black;
}

.Title
{
    display: block;
    margin-bottom: 25px;
    font-size: 20px;
    color: #c2c2c2;
    font-family: 'Lato', sans-serif;
    margin-top: 15px;
    pointer-events: none;
    margin-left: 10px;
}

.holidayRequestForm .containers {
    position: relative;
    margin-bottom: 12px;
    margin-left: 15px;
    margin-right: 15px;
    width: 150px;
}

.holidayRequestForm .containers.Left {
    float: left;
    margin-right: 0;
     width: calc(45% - 15px);
}
.holidayRequestForm .containers.Right {
    float: right;
    margin-left: 0;
    width: calc(45% - 15px);
}

.holidayRequestForm .input {
    display: block;
    //margin-top: 14px;/*this should be label font-size + 2px*/
    height: auto;
    background: none;
    text-decoration: none;
    border: 0;
    border-bottom: 2px solid black;
    width: 100%;
    transition: 0.1s border-bottom-color linear;
}
.holidayRequestForm .input:focus {
    outline: none;
}
.holidayRequestForm .input,
.holidayRequestForm .label{
    font-size: 15px;/*inputs and label font-size, should be in pixel*/
    color: black;
    font-family: 'Lato', sans-serif;
}
.holidayRequestForm .label {
    position: absolute;
    transition: 0.1s font-size, top ease;
    top: 0px;
    pointer-events: none;
    opacity: 0.8;
}
/*
.holidayRequestForm .input:focus + .label,
.holidayRequestForm .input:active + .label,

*/
.holidayRequestForm .input:valid + .label,
.holidayRequestForm .label.notEmpty
{
    font-size: 12px;
    top: -12px;
    opacity: 1;
}

.holidayRequestForm .input.Focused
{
    border-bottom-color: #8cb8dc;
}
   
.reasonbox { 
    background: white; 
    outline: none; 
    border: none;
    width: 100%;
    resize: none;
    margin-top: 10px;
    border-top: 2px solid #f7f7f7;
    padding-left: 10px;
    padding-right: 10px;
    padding-top: 10px;
    font-family: inherit;
    transition: 0.1s border-top-color linear;
    height: 150px
   }
.reasonbox:focus,
.reasonbox:active
{
    border-top-color: #8cb8dc;
}
   
.toSeperator
{
    background-image: url(../../images/to.svg);
    background-repeat: no-repeat;
    background-size: contain;
    background-position: center;
    display: inline-block;
    height:35px;
    float: left;
    width: 9%;
}

.submit_button
{
    margin: 0 auto;
    width: 100px;
    height: 35px;
    background-color: rgba(255, 255, 255, 0.15);
    color: black;
    font-weight: bold;
	border-radius: 25px;
    border: 2px solid white
    cursor: pointer;
    font-size: 12px;
    display: block;
}  
.submit_button
{
    width: 50%;
    height: 35px;
    background-color:white;
    margin: 0 auto;
    margin-top: 12px;
    color: black;
    font-weight: bold;
    border-radius: 25px;
    border: 2px solid #d9d9d9;
    cursor: pointer;
    font-size: 12px;
    display: block;
    transition: 0.1s background-color linear, 0.1s color linear;
}
.submit_button:hover,
.submit_button:active,
.submit_button:focus {
    background-color: #95d2fd;
    color: white;
}


.holidayRequestForm {
	margin: 0 auto;     
	background: white;
    font-family: 'Lato', sans-serif;
    outline: none;
}


@media screen and (max-width: 425px) and (min-height: 384px) {
    body {
        background-color: white;
    }
    
}

.displayNone {display:none !important;}