#ChatSystem
{
    width: calc(100% - 0px);
    position: absolute;
    right: 0px;
    height: calc(100% - 0px);
    pointer-events: none;

}
#messageBox
{
    width: calc(100% - 206px);
    font-family: Helvetica;
    font-size: 12px;
    height: 100%;
/*
    border-top: 1px solid #cecfd2;
    border-left: 1px solid #cecfd2;
    border-right: 1px solid #cecfd2;
*/
    float: left;
    background: white;
    pointer-events: auto;

}

.chat{

    width: 100%;
    max-height: calc(100% - 57px);
    height: 100%;
    margin: 0;
    background: white;
    pointer-events: auto;
    overflow-y: auto;
    

}
 .container
{
    width: 100%;
    display: block;
    overflow: auto;
}

message:last-of-type > .container {
    margin-bottom: 3px;
}

#name
{
    display: inline-block;
    width: 210px;
    pointer-events: auto;
}
.name
{
    font-family: Helvetica;
    font-size: 12px;
    width: 233px;
    background-color: #016e96;
    color: white;
    height: 22px;
    line-height: 22px;
    font-weight: bold;
    padding-left: 5px;
    margin-left: -1px;
    margin-top: -1px;
    cursor: pointer;
    pointer-events: auto;
    display: none;
}
.name:hover
{
    background-color: #015d7f;
}

#close
{
    float: right;
    padding-right: 6px;
    padding-left: 6px;
    line-height: 20px;
    cursor: default;
    pointer-events: auto;
}
#close:hover, #close:focus
{
    color: #cecfd2;
}

#messageBox #messageBoxForm
{
    background-color: rgb(252,252,252);
    border: 0;
    margin: 0;
    padding: 0;
    border-top: 1px solid #cecfd2;
    width: 100%;
    height: 56px;
    overflow: hidden;

}
#chat_input
{
    width: calc(87% - 34px);
    border: 0;
    padding-left: 20px;
    padding-right: 10px;
    padding-bottom: 20px;
    padding-top: 20px;
    background: rgb(252,252,252);
    pointer-events: auto;
    font-family: inherit;
    resize: none;
    outline: none;
    font-size: 14px;
    font-family: Lato, sans-serif;
}
#submitMessageLabel,#submitText
{
    border-radius: 0;
    border: 0;
    padding: 0;
    float: right;
    height: 55px;
    opacity: 0.4;
    transition: 0.2s opacity linear;
    width: 13%;
    overflow: hidden;
    cursor: pointer;
}

#submitMessageLabel::after {
    content: "SEND";
    position: relative;
    bottom: 22px;
    font-weight: bold;
    color: #2b2b2b;
}

#submitText:hover + #submitMessageLabel,
#submitMessageLabel:hover
{
    opacity: 0.8;
    
}
#submitText:active + #submitMessageLabel,
#submitMessageLabel:active
{
    opacity: 1;
    transition: none;
}
#submitText
{
    visibility: hidden;
    position: fixed;
    
}

#contactsPart
{
    height: 100%;
    transition: width 0.1s linear;
    overflow: hidden;
    margin: 0;
    padding: 0;
}

#contacts_bar
{
    display: block;
    height: 100%;
    width: 205px;
    border-left:1px solid #cecfd2;
    float: right;
    background: white;
    transition: 0.3s margin ease;
    pointer-events: auto;
    overflow: auto;  
    margin: 0;
    padding: 0;
}

.searchContacts {
    border: 1px solid #cecfd2;
    border-left: 0px;
    border-right: 0px;
    padding: 7px 30px 8px 7px;
    background-color: #f7f7f7;
    background-image: url(../images/search.svg);
    background-repeat: no-repeat;
    background-position: 95%;
    background-size: 15px 15px;
    width: 100%;
    font-size: 13.3px;
    transition: border-color ease-in-out 0.15s, background-color ease-in-out 0.15s, color ease-in-out 0.15s;
    margin-bottom: 5px;
    outline: none;
    box-sizing: border-box;
}

.searchContacts:active,
.searchContacts:focus {
        background-color: white;
        border-color: #b1b1b1;
}

.noMessage {
    display: block;
    font-size: 20px;
    color: #bfbfbf;
    text-align: center;
    margin-top: 20px;
}

#hideContacts, #contactsButton
{
    display: none;
    pointer-events: auto;
    width: 48px;
    height: 48px;
    position: fixed;
    top: 0px;
    right: 0px;
    z-index: 1;
    margin: 0;
    padding: 0; 
    background-color: white;
}
#hideContacts:checked + #contactsButton
{
    background-color: rgb(230, 230, 230);
}
#contactsButton:hover
{
    background-color: rgb(245, 245, 245) !important;
}
#hideContacts
{
    visibility: hidden;
    
}
#hideContacts:checked ~ #contacts_bar
{
    margin-left: 100%;
    
}

.spinner {
    float: right;
    text-align: center;
    margin-right: 17px;
}

.spinner > div {
  width: 13px;
  height: 13px;
  background-color: #b9d2dc;

  border-radius: 100%;
  display: inline-block;
  -webkit-animation: sk-bouncedelay 1.4s infinite ease-in-out both;
  animation: sk-bouncedelay 1.4s infinite ease-in-out both;
}

.spinner .bounce1 {
  -webkit-animation-delay: -0.32s;
  animation-delay: -0.32s;
}

.spinner .bounce2 {
  -webkit-animation-delay: -0.16s;
  animation-delay: -0.16s;
}

@-webkit-keyframes sk-bouncedelay {
  0%, 80%, 100% { -webkit-transform: scale(0) }
  40% { -webkit-transform: scale(1.0) }
}

@keyframes sk-bouncedelay {
  0%, 80%, 100% { 
    -webkit-transform: scale(0);
    transform: scale(0);
  } 40% { 
    -webkit-transform: scale(1.0);
    transform: scale(1.0);
  }
}

@media screen and (max-width: 430px)
{
    #contacts_bar
    {
        width: 100%;
        float: none;
    }
    #contactsPart
    {
        min-width: 48px;
        position: absolute;
        width: 100%;
    }
    
    #messageBox
    {
        width: 100%;
    }
    #hideContacts, #contactsButton
    {
        display: block;
    }
    .searchContacts {
        padding: 15px 30px 15px 7px;
    }
}
@media screen and (max-width: 755px) and (min-width: 430px)
{
    #contacts_bar
    {
        width: calc(100% - 1px);
    }
    
    #messageBox
    {
        width: 70%;
    }
}
@media screen and (max-width: 945px)
{
    #submitMessageLabel::after {
    content: "SEND";
    position: relative;
    bottom: 22px;
    font-weight: bold;
    color: #2b2b2b;
        display: none;
}
}
.contact
{
    font-family: Lato, sans-serif;
    font-size: 12px;
    height: 53px;
    padding-top: 20px;
    padding-bottom: 20px;
    display: block;
    clear: both;
    text-align: right;
    cursor: pointer;
    color: #999999;
    pointer-events: auto;
    -webkit-user-select: none;
    padding-right: 20px;
    box-sizing: border-box;
}
.contact:hover
{
    color: black;
    background: #f2f2f2;
}
.active
{
    font-weight: bold;
    color: black;
    background-color: #f2f2f2;
}

.unread::before
{
    content: "1";
    float: left;
    border: 1px solid #016e96;
    background: #016e96;
    color: white;
    border-radius: 3px;
    height: 12px;
    width: 13px;
    margin-top: 0px;
    margin-left: 20px;
    font-weight: bold;
    text-align: center;   
}
@keyframes notification {
    from {background-color: rgb(230, 230, 230);}
    to {background-color: rgba(1, 110, 150, 0.19);}
}
.unreadHid
{
    background-color: rgba(1, 110, 150, 0.19) !important;  
    animation-name: notification;
    animation-duration: 1s;
    animation-iteration-count: infinite;
}

@media screen and (min-width: 361px) {
    .menu_extend.unreadHid {
        background-color: #0063b1 !important;
        animation: none;
    }
}