
html {
    height: 100%;
    width: 100%;
    min-height: 403px;
}
body {
    min-height: 100%;
    min-width: 100%;
    margin: 0;
}
.header {
    font-family: Calibri;
    font-size: 18px;
    cursor: default;
}
.header .normalTimer {
    position: fixed;
    top: 48px;
    width: calc(100% - 48px);
    left: 48px;
    height: 48px;
}
.header .menu_item {
    cursor: default;
}
.side_menu {
    width: 48px;
    min-height: 355px;
    height: calc(100% - 48px);
    top: 48px;
    display: block;
    position: fixed;
    background-color: #2b2b2b;
    transition: width 0.04s linear;
    z-index: 99;
}
@media screen and (max-height: 403px) {
    .side_menu {
        position: absolute;
    }
}
.side_menu_container {
    position: relative;
    overflow-x: hidden;
    height: 100%;
    width: 100%;
}
.header_container .inlineDiv {
    display: inline;
}
.header_container .smallTimer {
    display: inline-block;
    float: right;
    width: 206px;
}
#headerTimer {
    transition: height 0.5s ease-out, width 0.5s ease-out;
    overflow: hidden;
}
.smallTimer.timerStopped {
    width: 0px;
}
.normalTimer.timerStopped {
    height: 0px;
}
.menu_line {
    border-top: 1px solid #555;
}
.menu_item {
    width: 48px;
    height: 48px;
    display: inline-block;
    position: static;
    color: white;
    line-height: 48px;
    text-decoration: none;
}
.menu_item.menu_selection:before {
    background-color: #0063b1;
    width: 5px;
    display: block;
    height: 48px;
    content: "";
    float: left;
    position: absolute;
}
.side_menu_container .menu_item {
    width: 200px;
}
.menu_item:hover {
    background-color: #404040;
}
.lower_menu {
    position: absolute;
    bottom: 0;
}
.menu_extend {
    position: relative;
    background-color: #0063b1;
    z-index: 1 !important;
}
.menu_extend:hover {
    background-color: #1972b9;
}
.menu_extend:active {
    background-color: #3571a4;
}
.header_container {
    position: fixed;
    top: 0;
    width: 100%;
    display: block;
    background-color: #f2f2f2;
    height: 48px;
    z-index: 1;
}
.header_title {
    margin-left: 20px;
    line-height: 48px;
    font-weight: 900;
    display: inline;
    position: absolute;
}
.side_menu.HiddenIcons {
    width: 200px;
    transition: width 0.2s ease-in-out;
}
.menu_item .icons {
    width: 48px;
    height: 48px;
    display: inline-block;
    text-align: center;
    font-size: 25px;
    font-weight: 100;
    line-height: 48px;
}
.menu_item .menu_svg {
    float: left;
}
@media screen and (max-width: 425px) {
    #rosterLink.Timeractive {
        animation: activeTimerLink 5s infinite;
    }
}
#click_overlay,
.PageLoadingNormal,
.timerStopNormal {
    display: none;
    position: fixed;
    height: 100%;
    width: 100%;
    z-index: -1;
}
#click_overlay {
    display: block;
}
.content {
    position: absolute;
    top: 48px;
    left: 48px;
    width: calc(100% - 48px);
    min-height: 355px;
    height: calc(100% - 48px);
    overflow-y: auto;
}
.iframe {
    height: 100%;
    width: 100%;
}
#timerStopPageNormal {
    opacity: 0;
    transition: opacity 5s linear;
}
.timerStopQuestion {
    z-index: 99;
    display: block;
    opacity: 1;
    background-color: rgba(0, 0, 0, 0.46);
}
.popUpContainer {
    background-color: white;
    display: block;
    min-height: 180px;
    width: 100%;
    height: 0px;
    border-bottom: 5px solid #b5b5b5;
    margin: auto;
    text-align: center;
    font-weight: bold;
    margin-top: -100%;
    transition: 1s margin-top ease-out;
    overflow: hidden;
}
.popUpContainer.showPopUp {
    margin-top: 0;
}
.popUpContainer .questionLabel {
    margin: 0 auto;
    text-align: center;
    display: inline-block;
    margin-top: 20px;
    margin-bottom: 20px
}
.popUpContainer .answerContainer {
    transition: opacity 1s linear;
    overflow: hidden;
    opacity: 1;
}
.popUpContainer .answerContainer.remove {
    opacity: 0;
}
.popUpContainer .answerContainer .bigRoundButtons {
    height: 90px;
    width: 90px;
    border-radius: 90px;
    display: inline-block;
    margin: 0 20px 20px 20px;
    border: 3px solid #3476a2;
    transition: background-color 0.13s ease-in, background-image 0.13s ease-in;
    background-color: rgba(255, 255, 255, 0.18);
    background-position: center;
    background-repeat: no-repeat;
}
.popUpContainer .answerContainer .bigRoundButtons.yesConfirm {
    background-image: url("../images/yesclear.png");
}
.popUpContainer .answerContainer .bigRoundButtons.noDeny {
    background-image: url("../images/noclear.png");
}
.popUpContainer .answerContainer .bigRoundButtons.noDeny:hover,
.popUpContainer .answerContainer .bigRoundButtons.noDeny:focus {
    background-image: url("../images/no.png");
}
.popUpContainer .answerContainer .bigRoundButtons.yesConfirm:hover,
.popUpContainer .answerContainer .bigRoundButtons.yesConfirm:focus {
    background-image: url("../images/yes.png");
}
.popUpContainer .answerContainer .bigRoundButtons:hover,
.popUpContainer .answerContainer .bigRoundButtons:focus {
    background-color: #3d88bb;
}
.loadingStopTimer {
    display: block;
    border-radius: 90px;
    border: 3px solid #e4e4e4;
    border-top: 3px solid #3476a2;
    transition: opacity 1s linear, border-color 1s ease;
    margin: 0 auto;
    opacity: 0;
    height: 90px;
    width: 90px;
}
.PageLoadingAdd {
    z-index: 2;
    background-color: #0063b1;
    background: linear-gradient(45deg, #5aaae8, #4e85b1, #0063b1);
    left: 48px;
    display: block;
}
.PageLoadingNormal .loading {
    display: block;
    position: absolute;
    left: 50%;
    margin-left: -95px;
    top: 50%;
    margin-top: -70px;
}
.PageLoadingNormal .animationCircle {
    position: relative;
    top: 35%;
    margin: auto auto;
    border: 3px solid rgba(0, 0, 0, 0.08);
    border-radius: 50%;
    border-top: 3px solid rgba(255, 255, 255, 0.52);
    width: 120px;
    height: 120px;
}
.PageLoadingAdd .animationCircle {
    animation: spin 1.2s linear infinite;
}
#loadingStopTimer.animationCircle {
    opacity: 1;
    animation: spin 1.2s ease infinite;
}
#loadingStopTimer.SavingDone {
    opacity: 1;
    animation: none;
    border-color: #3476a2;
    background-color: #3d88bb;
    background-image: url(../images/yes.png);
    background-position: center;
    background-repeat: no-repeat;
}
.HiddenContent {
    display: none !important;
}
.scrollHidden {
    overflow: hidden;
}
.noDecoration {
    text-decoration: none;
    color: black;
}
.noClickTouch * {
    -webkit-user-select: none !important;    
    -moz-user-select: none !important;
    -ms-user-select: none !important;
    user-select: none !important;
}
@keyframes spin {
    0% {
        transform: rotate(0deg);
    }
    100% {
        transform: rotate(360deg);
    }
}
@keyframes activeTimerLink {
    0% {
        background-color: #004625;
    }
    50% {
        background-color: #00753f;
    }
    100% {
        background-color: #004625;
    }
}