.preload * {
    -webkit-transition: none !important;
    -moz-transition: none !important;
    -ms-transition: none !important;
    -o-transition: none !important;
}
body {
    margin: 0;
}

body * {
    -webkit-tap-highlight-color: rgba(0,0,0,0);
    -webkit-tap-highlight-color: transparent;
}

.accountContent {
    min-width: 264px;
    background-color: #82cafc;
    min-height: 100%;
}
.accountPages.form,
.accountInfo {
    max-width: 700px;
    margin: 0 auto;
    overflow: hidden;
}
.accountInfo {
    height: 100px;
    border-bottom: 5px solid #d4d4d4;
    background-color: #f7f7f7;
    padding-left: 20px !important;
    padding-right: 20px !important;
    padding-top: 9px;
    max-width: 660px;
    margin: 0 auto;
}
.accountInfo .title_icon {
    position: absolute;
    top: 0px;
}
.boxContainer {
    padding-left: 50px;
    padding-right: 50px;
    background-color: white;
    margin-bottom: 5px;
    overflow: hidden;
}
.employeeDetails:before,
.addressDetails:before,
.bankingDetails:before {
    display: block;
    margin-bottom: 20px;
    font-size: 20px;
    color: #c2c2c2;
    font-family: 'Lato', sans-serif;
    margin-top: 25px;
}
.employeeDetails:before {
    content: "Personal information";
}
.addressDetails:before {
    content: "Address information";
}
.bankingDetails:before {
    content: "Banking information";
}
.containers {
    position: relative;
    margin-bottom: 12px;
}
form .containers {
    margin-bottom: 30px;
}
.input {
    display: block;
    margin-top: 14px;/*this should be label font-size + 2px*/
    height: auto;
    background: none;
    text-decoration: none;
    border: 0;
    border-radius: 0;
    border-bottom: 2px solid black;
    width: 100%;
}
input:focus {
    outline: none;
}
.input,
.label,
.error {
    font-size: 15px;/*inputs and label font-size, should be in pixel*/
    color: black;
    font-family: 'Lato', sans-serif;
}
.label {
    position: absolute;
    transition: 0.1s font-size, top ease;
    top: 0px;
    pointer-events: none;
    opacity: 0.8;
}
.input:focus + .label,
.label.notEmpty {
    font-size: 12px;/*label font-size when moved, should be half of normal size*/
    top: -12px;/*distance to move the label, should be equal to label font-size above*/
    opacity: 1;
}
.label.notEmpty.dob {
    width: 70px;
}
.input.bsb {
    width: auto;
}
.input.drop {
    height: 20px;
    -ms-box-sizing: content-box;
    -moz-box-sizing: content-box;
    box-sizing: content-box;
    -webkit-box-sizing: content-box;
    margin: 0;
}
.containers.inline {
    display: inline-block;
}
.containers.nomarg {
    margin: 0;
}
.containers.negativeMarg {
    margin-top: -15px;
}
.input.inline {
    display: inline;
    width: auto;
    margin-top: 3px;
}
.input.nomarg {
    margin-top: 0;
}
.input.clearable {
    //width: calc(100% - 17px);
}
.clearContainer {
    position: absolute;
    right: 0px;
    top: 1px;
    background-color: white;
    //border-bottom: 2px solid black;
}
.Inputclear {
    font-family: Helvetica, Arial;
    font-size: 10pt;
    color: #cacaca;
    display: inline-block;
    //background-color: white;
    -webkit-user-select: none;
    cursor: default;
    width: 12px;
    padding-left: 5px;
}
.Inputclear:hover,
.Inputclear:focus {
    color: black;
}
.accountInfo .label {
    right: 0;
    color: #a0a0a0;
}
.accountInfo .input {
    border: 0;
    text-align: right;
    margin-top: 20px
}
.submit.button {
    width: 50%;
    height: 35px;
    background-color: rgba(255, 255, 255, 0.15);
    margin: 0 auto;
    margin-top: 40px;
    margin-bottom: 40px;
    color: white;
    font-weight: bold;
    border-radius: 25px;
    border: 2px solid white;
    cursor: pointer;
    font-size: 12px;
    display: block;
}
.submit.button:hover,
.submit.button:focus {
    background-color: rgba(255, 255, 255, 0.40);
}
.submit.button:active {
    background-color: rgba(255, 255, 255, 0.50);
}
@media screen and (max-width: 425px) {
    .accountInfo .title_icon {
        display: none;
    }
    .boxContainer:not(.accountInfo)
    {
        padding-left: 13px;
        padding-right: 13px;
    }
    
}
.errorContainer {
    height: 17px;
}
.error {
    color: white;
    background-color: #902a2a;
    text-align: center;
    font-size: 12px;
    transition: height 0.2s ease;
    height: 0px;
    overflow: hidden;
    display: block;
    -webkit-user-select: none;
}
.error.emptyForm {
    margin-top: -5px;
    font-size: 15px;
}
.error.emptyForm.invalid {
    border-top: 2px solid red;
}
.error.saved {
    background-color: green;
}
.error.wait {
    background-color: grey;
}
.error.show {
    height: 100%;
}
.input.invalid {
    border-color: red;
}