
.dashboard_containers{
	display: inline-block;
	background-color: white;
	height: 175px;
	width: 355px;
	float: left;
	margin-bottom: 5px;
	margin-left: 2.5px;
	margin-right: 2.5px;
    cursor: pointer;
}

.dashboard_containers.square_container{
	height: 175px;
	width: 175px;

}
.dashboardContent {
    
    max-width: 540px;
    overflow: hidden;
    margin: auto;
    margin-top: 5px;
}


@media screen and (max-width: 415px)
{
	.dashboardContent {
  		max-width: none;
  		width: 100%;

	}

	.dashboard_containers{

		width:calc(100% - 5px);
		margin-bottom: 5px;
		margin-left: 2.5px;
		margin-right: 2.5px
	}
	.dashboard_containers.square_container{
		
		width: calc(50% - 5px);
        height: auto;
	}

}

@media screen and (min-width: 590px)
{
    .dashboardContent {
  		max-width: 1000px;
	}
    
    .dashboard_containers{
        width: calc(66% - 5px);
    }
    .dashboard_containers.square_container{
		width: calc(33% - 5px);

	}
}
    

